extends layout

block content
	h1 PriCoSha
	h2 Pivate Content Sharing

	

	#footer
		div PriCoSha
		div An academic project by Theodore Kim and JinZhao Su
		div Source: https://github.com/theo-kim/databases/project/pricosha
		div Version 0.0.1